.wrapper{
  width: 100vw;
  height: 100vh;
  background: #f7fafc;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.loginTitle {
  font-size: 60px;
  color: #108ee9;
  text-align: center;
  font-family: Helvetica, Tahoma, Arial;
}
.loginForm {
  border: 1px solid #d5d5d5;
  padding: 80px;
  background: #FFF;
  margin-top: 30px;
}
.loginBtn{
  margin: 0 auto;
  display: block;
}
@media screen and (min-width:640px) {
   .loginForm{
    width: 40vw;
    min-width: 400px;
   }
  .loginBtn {
    width: 20vw;
    height: 40px;
    font-size: 16px;
  }
}
@media screen and (max-width:640px) {
   .loginForm{
    width: 100vw;
   }
  .loginBtn {
    width: 30vw;
    height: 30px;
    font-size: 12px;
  }
}
