.container {
  margin: 0 auto;
}
.stepWrapper{
  height: 100px;
}
.dotted{
  display: inline-block;
  width: 10px;
  height: 10px;
  margin-right: 10px;
  border-radius: 50%;
  background: #105082;
  position: relative;
}
.dotted::after{
  display: block;
  content: '';
  background: #105082;
  height: 100px;
  width: 2px;
  position: absolute;
  top: 0;
  left: 4px;
}
.stepIntro{
  padding: 20px;
}
@media screen and (min-width: 800px){
  stepIntro{
    font-size: 16px;
  }
}
@media screen and (max-width: 800px){
  stepIntro{
    font-size: 14px;
  }
}
