.homeWrapper {
  width: 100vw;

  overflow: hidden;
}
.home {
  width: 150%;
  height: 125%;
  background: url(../../../public/home-bg.png);
  background-size: cover;
  background-position: 50% 50%;
}
.welc{
  letter-spacing: 10px;
  width: 100vw;
  text-align: center;
  color: #FFF;
  font-family: Helvetica,Arial,sans-serif;
}
	@media screen and (min-width:768px) {
    .homeWrapper {
      height: 74vh;
    }
    .welc {
      padding-top: 14rem;
      font-size: 50px;
    }
  }
  @media screen and (max-width:768px) {
    .homeWrapper {
      height: 79vh;
    }
    .welc {
      padding-top: 10rem;
      font-size: 40px;
    }
  }
