.header {
  height: 6vh;
  background: #404040;
  display: flex;
}
.logo {
  width: 45px;
  height: 45px;
  background: url(../../../public/logo.png);
  background-size: contain;
  margin-left: 20px;
}

@media screen and (min-width:768px) {
  .header {
    justify-content: space-between;
  }
  .pcMenu {
    display: block;
    margin-right: 20px;
  }
  .responsiveContaner{
    display: none;
  }
}
@media screen and (max-width:768px){
  .pcMenu{
    display: none;
  }
  .responsiveContaner{
    display: block;
    position: absolute;
    left: 20px;
    top: 5px;
    width: 50px;
    height: 50px;
  }
  .logo{
    position: absolute;
    right: 20px;
  }
  .menu {
    margin-right: 20px;
    position: relative;
    top: 0;
    left: -300px;
    transition: all 0.5s;
    width: 200px;
    height: 94vh;
    z-index: 1000;
 }
}
