<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//com.mapper.mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.xuptsec.recruit.dao.MemberMapper">
    <resultMap id="memberMap" type="member">
        <id column="id" property="peopleId"></id>
        <result column="realname" property="peopleName"></result>
        <result column="gender" property="peopleSex"></result>
        <result column="class" property="peopleClass"></result>
        <result column="classify" property="peopleGroup"></result>
        <result column="introduction" property="peopleIntro"></result>
        <result column="picUrl" property="picUrl"></result>
    </resultMap>
    <select id="findLabMemberByPage" resultMap="memberMap">
      select * from tb_lab_member  limit ${pageNum},${pageSize}
    </select>
    <select id="findTotalMember" resultType="int">
        select count(*) from tb_lab_member
    </select>
</mapper>