<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//com.mapper.mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.xuptsec.recruit.dao.ParticipatorMapper">

    <insert id="insertParticipator" parameterType="participator">
        <selectKey resultType="java.lang.String" order="BEFORE" keyProperty="stuId">
            select uuid();
        </selectKey>
        insert into tb_participator (id,realname,gender,class,number,tel,classify,introduction)
        value(#{stuId},#{stuName},#{stuSex},#{stuClass},#{stuNumber},#{stuTel},#{stuGroup},#{stuIntro})
    </insert>
    <select id="findTotalParticipator" resultType="int">
        select count(*) from tb_participator
    </select>

    <resultMap id="participatorMap" type="participator">
        <id column="id" property="stuId"></id>
        <result column="realname" property="stuName"></result>
        <result column="gender" property="stuSex"></result>
        <result column="class" property="stuClass"></result>
        <result column="number" property="stuNumber"></result>
        <result column="tel" property="stuTel"></result>
        <result column="classify" property="stuGroup"></result>
        <result column="introduction" property="stuIntro"></result>
    </resultMap>
    <select id="findParticipatorByPage" resultMap="participatorMap">
        select * from tb_participator  limit ${pageNum},${pageSize}
    </select>
    <select id="findParticipatorAll" resultMap="participatorMap">
         select * from tb_participator ORDER BY realname,tel
    </select>
    <select id="findParticipatorByStuNum" resultType="int">
        select count(*) from tb_participator where number=#{stuNumber} and realname=#{stuName}
    </select>
</mapper>