/*----------signup---------*/
.title {
  color: #404040;;
  text-align: center;
  font-family: Helvetica,Arial,sans-serif;
}
.title::after {
  display: block;
  content: '';
  width: 3rem;
  height: 2px;
  background: #404040;
  margin: 0 auto;
}
.form, .textarea {
  margin: 0 auto;
  background: #ececec;
}
.input {
  border: none;
  background: #ececec;
  border-bottom: 2px solid #404040;
  border-radius: 0;
  text-align: center;
}
.input::placeholder {
  text-align: center;
}

.input:hover, .input:visited, .input:focus {
  border: none;
  border-bottom: 2px solid #49a9ee;
  box-shadow: none;
}
.input::selection {
  border: none;
}
.textarea {
  display: block;
  border: 2px solid #404040;
  border-radius: 5px;
  margin-top:50px;
  padding-top: 20px;
}
.signUpBtn {
  width: 130px;
  height: 50px;
  margin: 5rem auto;
  display: block;
  background: #404040;
  border-color: #333;
}
.signUpBtn:hover {
  background: #333;
  border-color: #333;
}
@media screen and (min-width:768px) {
  .title {
    font-size: 30px;
    padding: 50px 0 30px;
  }
  .form {
    width: 450px;
  }
  .input {
  padding: 30px 0;
  }
  .input, .textarea,.input::placeholder, .textarea::placeholder, .signUpBtn {
    font-size: 16px;
  }
  .requireWrapper{
    width: 70vw;
  }
  .description{
    width: 50vw;
  }
}
@media screen and (max-width:768px) {
   .title {
    font-size: 18px;
    padding: 30px 0 40px;
  }
  .form {
    width: 300px;
  }
  .input {
   padding: 20px 0;
  }
  .input, .textarea,.input::placeholder, .textarea::placeholder, .signUpBtn{
    font-size: 12px;
  }
   .requireWrapper{
    width: 100vw;
  }
  .description{
    width: 70vw;
  }
}
/*----------require---------*/

.requireWrapper{
  margin: 0 auto;
  margin-top:100px;
}
.stepIndex{
  float: left;
  width: 60px;
  font-size: 90px;
  color: #105082;
  text-align: center;
  font-weight: 800;
  font-style: italic;
  position: relative;
  margin-top: -24px;
}
.dotted{
  background-image: linear-gradient(to bottom, #32D1F6 10%, rgba(255, 255, 255, 0) 0%);
  background-position: center;
  background-size: 2px 10px;
  background-repeat: repeat-y;
  padding: 5px 20px 500px 20px;
  margin-top: -20px;
  margin-left: 8px;
}
.description{
  float: right;
  margin-left: 12px;
  font-size: 14px;
  letter-spacing: -0.4px;
}

.step{
  content: "";
  clear: both;
  display: table;
}
.requireTitle{
  height: 24px;
  font-size: 24px;
  font-weight: bold;
  letter-spacing: 0.4px;
  color: rgba(13, 12, 55, 0.82);
  margin-bottom: 14px;
}
/***********************interview.js************************/
.interviewWrapper,.freeWrapper{
  height: 80vh;
}
/***********************free.js************************/
.freeWrapper{
  display: flex;
  align-items: center;
  justify-content: center;
}
.freeQR{
  width: 275px;
  height: 275px;
  background-size: contain;
  background: url(../../../public/free.jpg);
}
